/*Conducteurs*/
.section-container {
    margin-left: 2px;
    margin-right: 2px;
}



.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin:auto;
}


.cards-wrapper {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 85%;
    max-width: 1000px;
    margin:30px auto;
}


.card {
    width: 100%;
    padding: 50px;
    margin-right: 15px;
    background:  #f7f7f7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    gap: 5px;
}


.card:hover {
 box-shadow: 0 3px 10px rgba(0,0,0,0.1)  inset;
 border:2px solid #002366;
 }


.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 2px;
    margin-top: 5px;
    border-radius: 10px;
    object-fit: contain;
}



.card h3 {
    margin: 0;
    font-size: 16px;
}


.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}



a {
    color:white;
    background-color: #002366;
    border: 1.5px solid ;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 3px;

}

a:hover {
    background-color: white;
    color:#002366;
    border: 1.5px solid ;



}

.slide-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #002366; 
    color: #002366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    padding: 0;              
    transition: 0.3s ease;
}



.slide-btn:hover {
    background-color: #002366;
    color:#f0f0f0;
    transform: scale(1.05);
    
}


