*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.logo1 img{
    height: 60px;
    width: auto;
}


.menu ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu ul li a{
    text-decoration: none;
    color:#002366;
    font-weight: bold;
}

.form{
    background-color:#002366;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    color:#333;
}

section{
    background-color:#fff;
    padding:25px 30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    width:450px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
    color:#002366;
}

input, select, textarea{
    width:100%;
    padding:8px;
    margin-bottom:15px;
    border:1px solid #aaa;
    border-radius:5px;
}

input[type="file"]{
    padding:3px;
}

input:focus, select:focus, textarea:focus{
    border-color:#002366;
}

input[type="submit"]{
    background:#002366;
    color:white;
    border:none;
    border-radius:5px;
    padding:10px;
    cursor:pointer;
}

input[type="submit"]:hover{
    background:#001a55;
}

footer{
    margin-top:20px;
    color:white;
}
.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(255,255,255,0.8);
}
button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffffffcc;
    color: #002366;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background-color: white;
}
.title{
    color:#fff;
}
p{
    text-align: center;
}

